<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>familyControlsEnabled</key>
	<true/>
	<key>whiteList</key>
	<array>
		<dict>
			<key>appID</key>
			<data>
			+t4MAAAAACwAAAABAAAABgAAAAIAAAAPY29tLmFwcGxlLmlDaGF0
			AAAAAAM=
			</data>
			<key>appStore</key>
			<false/>
			<key>bundleID</key>
			<string>com.apple.iChat</string>
			<key>detachedSignature</key>
			<data>
			</data>
			<key>disabled</key>
			<true/>
			<key>displayName</key>
			<string>Messages</string>
			<key>subApps</key>
			<array>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAEQAAAABAAAABgAAAAIAAAAlY29t
					LmFwcGxlLm1lc3NhZ2VzLkFzc2lzdGFudEV4
					dGVuc2lvbgAAAAAAAAM=
					</data>
					<key>bundleID</key>
					<string>com.unknown.Messages Assistant Extension</string>
					<key>displayName</key>
					<string>Messages Assistant Extension</string>
				</dict>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAEAAAAABAAAABgAAAAIAAAAhY29t
					LmFwcGxlLm1lc3NhZ2VzLlNoYXJlRXh0ZW5z
					aW9uAAAAAAAAAw==
					</data>
					<key>bundleID</key>
					<string>com.unknown.Messages Share Extension</string>
					<key>displayName</key>
					<string>Messages Share Extension</string>
				</dict>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAEAAAAABAAAABgAAAAIAAAAhY29t
					LmFwcGxlLm1lc3NhZ2VzLlJlcGx5RXh0ZW5z
					aW9uAAAAAAAAAw==
					</data>
					<key>bundleID</key>
					<string>com.unknown.Messages Reply Extension</string>
					<key>displayName</key>
					<string>Messages Reply Extension</string>
				</dict>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAEwAAAABAAAABgAAAAIAAAAtY29t
					LmFwcGxlLm1lc3NhZ2VzLlN0b3JhZ2VNYW5h
					Z2VtZW50RXh0ZW5zaW9uAAAAAAAAAw==
					</data>
					<key>bundleID</key>
					<string>com.unknown.Messages Storage Management Extension</string>
					<key>displayName</key>
					<string>Messages Storage Management Extension</string>
				</dict>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAADwAAAABAAAABgAAAAIAAAAgY29t
					LmFwcGxlLkRvd25sb2FkRm9sZGVySW1wb3J0
					ZXIAAAAD
					</data>
					<key>bundleID</key>
					<string>com.unknown.com.apple.DownloadFolderImporter</string>
					<key>displayName</key>
					<string>com.apple.DownloadFolderImporter</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>appID</key>
			<data>
			+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29tLmFwcGxlLkZhY2VU
			aW1lAAAAAAAD
			</data>
			<key>appStore</key>
			<false/>
			<key>bundleID</key>
			<string>com.apple.FaceTime</string>
			<key>detachedSignature</key>
			<data>
			</data>
			<key>disabled</key>
			<true/>
			<key>displayName</key>
			<string>FaceTime</string>
			<key>subApps</key>
			<array>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAEAAAAABAAAABgAAAAIAAAAjY29t
					LmFwcGxlLkZhY2VUaW1lLkludGVudHNFeHRl
					bnNpb24AAAAAAw==
					</data>
					<key>bundleID</key>
					<string>com.unknown.FaceTimeIntentsExtension</string>
					<key>displayName</key>
					<string>FaceTimeIntentsExtension</string>
				</dict>
				<dict>
					<key>appID</key>
					<data>
					+t4MAAAAAFAAAAABAAAABgAAAAIAAAA0Y29t
					LmFwcGxlLkZhY2VUaW1lLkZhY2VUaW1lTm90
					aWZpY2F0aW9uQ2VudGVyU2VydmljZQAAAAM=
					</data>
					<key>bundleID</key>
					<string>com.unknown.FaceTimeNotificationCenterService</string>
					<key>displayName</key>
					<string>FaceTimeNotificationCenterService</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
