<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application-Group</key>
	<array>
		<string>IMCore</string>
		<string>InternetAccounts</string>
		<string>dot-mac</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>18A391012</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Messages</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ichat</string>
				<string>chat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MessagesDocument</string>
			<key>CFBundleTypeName</key>
			<string>Chat transcript</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>chat</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>CHAT</string>
			<key>NSDocumentClass</key>
			<string>ChatDoc</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Messages</string>
	<key>CFBundleHelpBookFolder</key>
	<string>iChat.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.iChat.help</string>
	<key>CFBundleIconFile</key>
	<string>MessagesAppIcon</string>
	<key>CFBundleIconName</key>
	<string>MessagesAppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iChat</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Messages</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>13.0</string>
	<key>CFBundleSignature</key>
	<string>fez!</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>IMSG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>imessage</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>iChat URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iChat</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Messages URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Messages</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>CPIM</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>im</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>SMS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sms</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5500</string>
	<key>CNInProcessContactPicker</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392u</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19D62</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392u</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>MDItemKeywords</key>
	<string>iChat iMessage</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSDockTilePlugIn</key>
	<string>iChatDockTile.docktileplugin</string>
	<key>NSLocationUsageDescription</key>
	<string>Your location may be shown on the map.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.apple.Messages</string>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>iChat.sdef</string>
	<key>PrefersLowPowerGPUMessages</key>
	<true/>
	<key>PrefersOpenGL</key>
	<true/>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAutomaticallyShowSettings</key>
		<true/>
		<key>UNDaemonShouldReceiveBackgroundResponses</key>
		<true/>
		<key>UNDefaultSettings</key>
		<dict>
			<key>UNSettingAlerts</key>
			<true/>
			<key>UNSettingBadges</key>
			<true/>
			<key>UNSettingNotificationCenter</key>
			<true/>
			<key>UNSettingSounds</key>
			<true/>
		</dict>
		<key>UNSuppressDismissalSync</key>
		<true/>
		<key>UNSuppressUserAuthorizationPrompt</key>
		<true/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.message</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chat transcript</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.ichat.transcript</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ichat</string>
					<string>chat</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
